<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Team 7 Company</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="http://127.0.0.1:5000">Home</a></li>
        <li><a href="http://127.0.0.1:5000/forums">Forums</a></li>
        <li><a href="http://127.0.0.1:5000/faq">FAQ</a></li>
        <li><a href="http://127.0.0.1:5000/contact-us">Contact Us</a></li>
        <li><a href="http://127.0.0.1:5000/rules">Rules</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h1>Frequently Asked Questions</h1>
  <h3>How do I start a forum?</h3>
  <p>You can start a forum by clicking the new forum button on the forum page.</p>
  <h3>How do I report a problem?</h3>
  <p>Navigate to the contact us page and leave a comment/concern in the text box.</p>
  <h3>How to I sign up for an account?</h3>
  <p>Navigate to the home page and click the sign up button. Then enter you information and you will be sent an account successfully created notification.</p>
  <h3>Can I get banned?</h3>
  <p>Yes, if you break one or more community rules then your account will be suspended for 48 hours. If you violate the rules again your account will be banned permanently.</p>
  <h3>Do you have an app?</h3>
  <p>Not currently, we are in the process of making an app. You can get notified when our app is available to download by adding your name and email to the contact us page.</p>
  <br>
  <p>For other questions not found here please send us a message from the contact us page so we can add more questions and answers here. Thank you!</p>
</div>

</body>
</html>