<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log in Here!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://127.0.0.1:5000">Team 7 Company</a>

      <ul class="nav navbar-nav">
        <li class="active"><a href="http://127.0.0.1:5000">Home</a></li>
        <li><a href="http://127.0.0.1:5000/forums">Forums</a></li>
        <li><a href="http://127.0.0.1:5000/faq">FAQ</a></li>
        <li><a href="http://127.0.0.1:5000/contact-us">Contact Us</a></li>
        <li><a href="http://127.0.0.1:5000/rules">Rules</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>Log In Here!</h1>
    {% with messages = get_flashed_messages(category_filter=['error']) %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Enter Your Username</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" id="username" name="username">
          </div>
          <br>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Enter Your Password</span>
            </div>
            <input type="text" class="form-control" placeholder="Password" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</body>
</html>